<div class="jumbotron">
  <h1>Contact List</h1>
  <p>
    Gerencie seus contatos em qualquer lugar!
  </p>
  <p>
  <% if !user_signed_in? %>
    <%= link_to 'Crie sua Conta', 'users/new', class: 'btn btn-primary btn-lg' %>
  <% else %>
  <%= link_to 'Listar', '/contacts', class: 'btn btn-primary btn-lg' %>
  <% end %>
  </p>
</div>